*{
  font-family: consolas;
  font-size: 16px;
  color: white;
}

body {
  background: orange;
}
.CityInput{
  display: table;
  margin: auto;
}

.CityText{
  border: 0px;
  border-bottom: 1px solid white;
  background: transparent;
}

.CityText:focus{
  border: 0px;
}

.CityButton{
  border: 0px;
  background: transparent;

}

.CityButton:hover{
  border-bottom: 1px solid white;
}

.WheatherWrapper{
  display: inline;
  margin: auto;
}

#weatherBox{
  margin: 20px;
  width: 180px;
  height: 60px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10%;
}

#cityName{
  display: block;
}

#cityWeather{
  display: block;
}
#cityTemperature{
  display:block;
}